@media (max-width: 1440px) {
    .container {
        max-width: 1440px;
        max-height: 1024px;
    }
}


/* header */

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding: 0px;
    gap: 40px;
    position: relative;

    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

/* Caixa de texto */

#textoEntrada { 
    position: absolute;    
    left: 240px;
    top: 168px;

    width: 680px;
    height: 500px;


    border: none;
    resize: none;
    outline: none; 
    background: #F3F5FC;
  
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    
    color: #0A3871;
}

/* retangulo */

.mensagem-criptografada {
    position: absolute;
    width: 400px;
    height: 930px;
    left: 1000px;
    top: 30px;

    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
}

#procurando {
    position: absolute;
    width: 336px;
    height: 304px;
    top: 283px;
    left: 40px;
}

.mensagem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    top: 619px;
    left: 40px;
}

#sem-mensagem {
    width: 336px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;

    text-align: center;
    padding-bottom: 20px;

    color: #343A40;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#texto-criptogrado{
    width: 336px;
    height: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    
    text-align: center;
    
    color: #495057;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/* alerta */

.alerta {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 252px;
    height: 18px;
    left: 240px;
    top: 851px;
}

.alerta p {
    width: 228px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    
    color: #495057;

    opacity: 0.8;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* buttons */

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;


}

#criptografar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;
    background: #0A3871;
    box-sizing: border-box;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;

}

#criptografar:hover{
    background: #0B0459;
}

#criptografar p{    
    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF
}

#descriptografar {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#descriptografar:hover{
    background: #747282;
}

#descriptografar p {
    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #0A3871
}