@media (max-width: 375px) {
    

    /* caixa texto */

    #textoEntrada {
        width: 330px;
        height: 250px;
        left: 16px;
        top: 240px;
    }

    /* alerta */

    .alerta {
        left: 16px;
    }

    /* buttons */

    .buttons {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 330px;
        height: 67px;
        left: 20px;
        top: 870px;
    }

    /* retangulo */

    .mensagem-criptografada {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;

        position: absolute;
        width: 260px;
        height: 500px;
        left: 20px;
        top: 1100px;
    }

    #procurando {
        display: none;
    }

    .mensagem-resultado {
        width: 240px;
    }

    .mensagem {
        position: absolute;
        width: 260px;
        height: 122px;
        text-align: center;
        top: 40px;
    }

    #sem-mensagem {
        width: 260px;
        height: 58px;
        text-align: center;
        font-size: 24px;
        padding-bottom: 0px;
    }

    #texto-criptogrado {
        width: 260px;
        height: 48px;
        font-size: 18px;
    }

    #copiar {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
    
        left: 20px;
        top: 400px;
    
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    
        padding: 24px;
        gap: 8px;
    
        width: 280px;
        height: 67px;
        background: #D8DFE8;
        box-sizing: border-box;
        border: 1px solid #0A3871;
        border-radius: 24px;
    }
    
    #copiar p{    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #0A3871;
    }
    
    #copiar:hover{
        background: #747282;
    }
}